*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
    background:#e9ecef;
    color:#111;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
}

nav ul{
display:flex;
list-style:none;
gap:25px;
}

nav a{
text-decoration:none;
color:#111;
}

.btn{
padding:12px 24px;
background:#111;
color:#fff;
border:none;
border-radius:30px;
cursor:pointer;
}

.hero{
    min-height:100vh;
    background:url("https://images.unsplash.com/photo-1690692322953-fb0f543c6658?ixlib=rb-4.1.0&q=85&fm=jpg&crop=entropy&cs=srgb") center center/cover no-repeat;
    display:grid;
    grid-template-columns:1fr 1fr;
    align-items:center;
    padding:0 8%;
}
.stats{
display:flex;
gap:40px;
margin-bottom:30px;
}

.hero h1{
font-size:6rem;
font-weight:300;
}

.hero p{
margin:20px 0;
font-size:18px;
}

.image img{
width:100%;
max-width:600px;
border-radius:20px;
}

.section{
padding:80px 8%;
}

.section h2{
font-size:3rem;
margin-bottom:20px;
}

.cards{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.card{
background:#fff;
padding:30px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.gallery{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.gallery img{
width:100%;
border-radius:10px;
}

form{
display:flex;
flex-direction:column;
gap:15px;
}

input,
textarea{
padding:15px;
border:1px solid #ccc;
border-radius:10px;
}

@media(max-width:768px){

.hero{
grid-template-columns:1fr;
text-align:center;
}

.hero h1{
font-size:4rem;
}

.cards,
.gallery{
grid-template-columns:1fr;
}

nav ul{
display:none;
}
}